<h2> liste des restaurants</h2>
<div>
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, restaurants_path %>
      <%= restaurant.category %>
      <%= restaurant.phone_number %>
      <%= restaurant.address %>
    </h3>
  <% end %>
</div>
